footer{
    z-index: 1!important;
    background-color: #263B5C;
    color: white;
    .footinfo{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 50px;
        flex-wrap: wrap;
        .navigation{
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    text-decoration: underline;
                    transition: 1s;
                }
            }
        }
        .support{
            button{
                width: 130px;
                height: 50px;
                border: none;
                background-color: #EF664B;
                color: white;
                &:hover{
                    border: 1px solid white;
                    background-color: transparent;
                    transition: 0.7s;
                }
            }
        }
        .footinfoparts{
            width: 18%;
            margin-top: 40px;
            .socialicons{
                display: flex;
                flex-direction: row;
                gap: 30px;
                z-index: -1!important;
                div{
                    background-color: aqua;
                    z-index: 5;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        transform: rotateY(0.5turn);
                        transition: 1s;
                    }
                }
            }
        }
    }
   
}
@media screen and (max-width:991px) {
    footer{
        width: 100%;
      }
}
@media screen and (max-width:777px) {
    .footinfo{
        display: grid!important;
        grid-template-areas: "head head"
        "body1 body2"
        "foot foot";
        gap: 10px;
        width: 90%!important;
        margin-left: 20px;
    }
    .loqofoot{
        width: 70%!important;
    }
    .support{
        width: 70%!important;
    }
}
@media screen and (max-width:660px) {
    .footinfo{
        display: flex;
        flex-direction: column!important;
        width: 90%!important;
    }
    .footinfoparts{
        width: 80%!important;
        margin-left: 10px;
    }
    .aboutus{
        display: flex;
        flex-direction: column!important;
        width: 100%;
        gap: 10px;
    }
    .aboutus div{
        width: 100%!important;
    }
    .aboutsekil img{
       width: 98%;
    }
}
@media screen and (max-width:450px) {
    .footinfo{
        display: flex;
        flex-direction: column!important;
        font-size: 10px;
    }
    .footinfoparts{
        width: 80%!important;
        margin-left: 10px;
    }
    .fooinfo1parts h3{
        font-size: 15px;
    }
}